# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local data & logs
data/
floci_data/
*.log

# Node / Web
node_modules/
dist/
build/
.npm
